.grid {
  display: grid;
  gap: 24px;
}

.grid--two-columns {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (max-width: 900px) {
  .grid--two-columns {
    grid-template-columns: 1fr;
  }
}
